# Required Environment Variables
EXPO_PUBLIC_CLOUDFRONT_URL=https://your-cloudfront-url.com
EXPO_PUBLIC_API_URL=https://your-api-url.com

# Optional Environment Variables (will use defaults if not provided)
EXPO_PUBLIC_OTP_VALID_TIME=60000
EXPO_PUBLIC_APP_NAME=YourAppName
